PORT=7000
DATABASE_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=

GMAIL=
APP_PASSWORD=



EMAIL_USERNAME=XXX
EMAIL_PASSWORD=XXX
EMAIL_HOST="sandbox.smtp.mailtrap.io"
EMAIL_PORT=587